<header class="header1">
    <div class="container-menu-header">
        <div class="topbar">
          <div class="topbar-social"></div>
  
          <span class="topbar-child1">
              Welcome to Components Project App
          </span>
  
          <div class="topbar-child2">
            <span class="topbar-email">
              ecommerce@example.com
            </span>
          </div>
        </div>
  
        <div class="wrap_header">
          <!-- Menu -->
            <nav class="menu">
              <ul class="main_menu">
                <li>
                  <a href="index.html">Home</a>
                  <ul class="sub_menu">
                  </ul>
                </li>
  
                <li>
                  <a href="#">Shop</a>
                </li>
  
                <li class="sale-noti">
                  <a href="#">Sale</a>
                </li>
  
                <li>
                  <a href="#">Features</a>
                </li>
  
                <li>
                  <a href="#">About</a>
                </li>
  
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </nav>
  
          <!-- Header Icon -->
          <div class="header-icons">
            <div class="header-wrapicon2">
              <span class="header-icons-noti"></span>
              <!-- Header cart noti -->
              <div class="header-cart header-dropdown">
                <ul class="header-cart-wrapitem"></ul>  
                <div class="header-cart-buttons">
                  <div class="header-cart-wrapbtn">
                    <!-- Button -->
                    <a href="#" class="snipcart-checkout checkout"></a>
                    <a class="snipcart-summary">
                        <a>Checkout (<span class="snipcart-total-price">0</span>)</a>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>     
</header>
